<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MultiBrower">
	<test name="Firefox Browser" >
		<parameter name="browser" value="Firefox"/>
			<classes>
				<class name="login.Login"/>
			</classes>
	</test>
	<test name="Chrome Browser">
		<parameter name="browser" value="chrome"/>
			<classes>
				<class name="login.Login"/>
			</classes>
	</test>
	<test name="Edge Browser">
		<parameter name="browser" value="edge"/>
			<classes>
				<class name="login.Login"/>
			</classes>
	</test>
</suite>